*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;    
}

/* INICIO CABEZERA */
header{
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 50px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
}
#encabezado{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:1;
}
#cabecera{

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
#cabecera div{
    margin-top: 50px;
    margin: 10px;
    font-size: xx-large;
    line-height: 75px;
}
#cabecera h1{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    margin: 0px 0px 0px 250px;
    color: #FB0000;

    align-self: center;
}
/* MENU DEPLeGABLE */
#menuDesplegable > ul{
    display: none;
    position: absolute;
}
/* FIN MENU DESPLEGABLE */

header #imgCabecera img{
    margin-left: 40px;
    width: 200px;
}
#menu{
    height: 45px;
    background-color: #3A2F2F;

}
#menu nav ul {
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
}
#menu nav ul li{
    padding: 15px;
    list-style: none;
}
#menu nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
#menu nav ul li::after{
    content: "|";
    color: #FFFFFF;
    margin-left: 50%;
}
/* FIN DEL HEADER */

/* INICIO MAIL */
#main{
    padding-top: 180px;
    
    display: flex;
    flex-flow: row nowrap;
}

main section{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

main section article{
    padding: 10px;
    margin-bottom: 10px;
}
#articulos{
    padding-right: 220px;
}
main section .art-principal{
    width: 510px;
    height: 300px;
    border: 1px solid #3A2F2F;
}
main section .art-principal figure img{
    width: 400px;
    padding: 10px;
}
main section .art-principal2{
    width:410px;
    height: 300px;
    border: 1px solid #3A2F2F;
}
.art-principal2 figure img{
    width: 350px;
    padding: 20px;
}
main section .art-gral{
    width: 300px;
    height: 250px;
    border: 1px solid #3A2F2F;
}
main section .art-gral figure img{
    width: 280px;
}

#aside aside figure img{
    width: 200px;
    height: 480px;

    position: fixed;
    right: 0px;
    top: 150px;
 }
/*FIN MAIN
INICIO FOOTER */
span{
    margin: 10px;
    color: #3A2F2F;
    display: flex;
    justify-content: center;
}