*{
margin: 0 ;
padding: 0;

}


body{
    font-family: 'Raleway', sans-serif;
   
}

header{
   display: flex;
    width: 100%;
    flex-flow: row wrap;
    position: ;
    justify-content: flex-start;
    height: 100%;


}



/* menu desplegable */


li img{
    width: 200px;
    height: 200px;
}

.icon-menu{
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0;
    justify-content: 
    
}

.menu1{
    
    margin-left: 10px;  
}

.menu1 .contenido-men {
    
   display: none;
    background-color: #0D0C0C;
    margin-left: 50px;
    margin-top: -50%;
    list-style: none;
    width: 200px;
    height: 1080px;
    
   
}

.contenido-men{
    display: flex;
    flex-flow: column wrap;
 justify-content: space-evenly;
    flex-flow: column wrap;
    align-items: center;
    
}

.menu1 .contenido-men a{
    background-color: #0D0C0C;
    color: #FFFFFF;
    
}


.menu1 .contenido-men li a{
    text-decoration: none;
   
}

.menu1 .contenido-men ul li{
   
    color: #FFFFFF;
}


/* cabecera */
  
.logo2 {
    margin-left: 0px;
    width: 250px;
    margin-top: 0;
}
  


.nombre{
    display: flex;
    flex-flow: row wrap;
     align-items: center; 
     justify-content: center; 
     color:  #FB0000;
}




/* menu principal */

.menu2{
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
     background-color: #3A2F2F; 
    height: 40px;
   z-index: 10;
   position: ;
}

.menu2 a{
    
   
}

.menu2  li a{
    text-decoration: none;
    color: #FFFFFF;
    
}

.menu2 li{
list-style: none;
}



/* contenido */


#categorias{
    border: 1px solid green;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-self: center;
    width: 60%;
    height: ;
    margin-top: ;
    
}


/* publicidad */

.logo39A{
  right:  0;
  position: absolute ; 
  width: 200px;
    height: ;
    
    
}