body{
    background-color: #ffffff;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 0%;
    margin: 0;
}
.caminito{
    width: 300px;
    color: rgb(39, 37, 37);
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}
.caminito a{
    margin-top: 50px;
    width: auto;
    height: auto;
}

nav{
    background-color: #3a2f2f;
    height: 40px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin: 0;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
header a:hover{
    font-weight: bold;
}

#menudespl{
    display: flex;
    justify-content: start;
    align-content: flex-start;
    list-style: none;
}
#menudespl ul{
    padding-left: 10px;
    list-style: none;
}
#menudespl > ul > li > ul{
    display: none;
    position: absolute;
    list-style: none;
    justify-content: center;
    align-content: center;
}
#menudespl > ul > li > ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 0;
    list-style: none;
    margin: 0;
}
#menudespl > ul > li > ul > li > a :hover{
    font-weight: bold;
}
#menudespl > ul > li > ul > li > img {
    width: 200px;
    padding-left: 10px;
    margin: 0;
}

#menudespl > ul > li:hover > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 100%;
    background-color: #0d0c0c;
    list-style: none;
    position: fixed;
    left: 40px;
    justify-content: space-evenly;
    align-content: flex-start;
    top: 0;
    padding-right: 24px;

}

#icon-menu img{
    width: 30px;
    margin: 0px;
    padding: 0px;
    align-content: center;
    padding-left: 5px;
    padding-top: 30px;
    list-style: none;
}

header {
    background-color: white;
    flex-flow: row wrap;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    z-index: 4;
    width: 100%;
    margin: 0;
}
.logoinicio{
    width: 200px;
    margin: 0;
    height: 100px;
    padding-top: 15px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    margin: 0px 0px 0px 100px;
    color:  #fb0000;
    align-self: center;
}

.logoymenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#cabecera{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
#noticias{
    padding-top: 8rem;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
}
.noticiasprinc{
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: flex-start;
    margin-left: 50px;
    margin-top: 50px;
}
.noticiasprinc img{
    width: 400px;
    height: 200px;
    padding: 40px;
}
.container-principal{
    align-content: center;
    width: 500px;
    height: auto;
    border: 1px solid rgb(187, 186, 186);
}
.noticiasprinc p, h2{
    padding: 10px;
}
.noticiasprinc h2{
    color: red;
}
.noticiassec{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding-left: 50px;
    width: 1000px;
}
a.mini-noticia{
    text-decoration: none;
    color: rgb (39,37,37)
}
.container-sec{
    width: 290px;
    height: 430px;
    border: 1px solid rgb(187, 186, 186);
    color: rgb(39, 37, 37);
    padding: 20px;
}
.container-sec img{
    width: 230px;
    padding: 20px 40px 40px 40px;
}

a{
    font-size: 16px;
    color: rgb (39,37,37);
    text-decoration: none;
}
b{
    color: #fb0000;
    text-align: start;
    margin-top: 5px;
}
.publicidad{
    object-fit: cover;
    justify-content: center;
    background-color: gray ;
    margin-top: 35px;
    align-items: center;
    height: 100%;
    width: 205px;
}
.publi{
    height:780px;
    width: 200px;
    right: 0;
    object-fit: cover;
}
i{
    color: red;
    font-size: 15px;
}
.footer{
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer a:hover{
    font-weight: bold;
}
.footer img {
    width: 220px;
    height: 130px;
    margin-left: 50px;
    padding-top: 60px;
}

.footer>ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.social-media>ul{
    list-style: none;
}
.pie{
    color: red;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}