:root {
    --gris: rgb(39, 37, 37);
    --negro: #0D0C0C;
    --rojo: #FB0000;
    --blanco:#FFFFFF;
}

*{
    margin: 0px;
    padding: 0px;
}

/* Menú desplegable */

#menudes {
    display: flex;
    justify-content: start;
    align-content: flex-start;
}

#menudes ul {
    padding-left: 10px;
}

#icon-menu img{
    width: 30px;
    align-content: center;
    padding-top: 10px;
}

#menudes > ul > li > ul > li > a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

#menudes > ul > li > ul > li > a:hover {
    font-weight: bold;
}

#menudes > ul > li > ul > li > img {
    width: 200px;
    padding-left: 10px;
    margin: 0;
}

#menudes > ul > li > ul {
    display: none;
    position: absolute;
    list-style: none;
    justify-content: center;
    align-content: center;
}

#menudes > ul > li:hover > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 96%;
    background-color:  rgb(39, 37, 37);
    list-style: none;
    position:fixed;
    left: 40px;
    justify-content: space-evenly;
    align-content: flex-start;
    top: 0;
    padding-right: 24px;
    border: none;
}

/*Menu horizontal fijo*/
header a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 18px;
}

header a.palabra:hover {
    font-weight: bold;
}

i {
    color: red;
    font-size: 15px;
}

#envivocirculo {
    font-size: 15px;
}

.logoymenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.logo-negro {
    width: 200px;
    margin: 0;
    height: 100px;
    padding-top: 0;
    padding-left: 25px;
}

.container-slider {
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 97px;
}

.container-slider img {
    margin-left: 0;
}

.widgets {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.gifp39 {
    margin-top: 3px;
    margin-bottom: 2px;
    height: 93px;
    padding-left: 17px;
}
.gifp39 img {
    height: 93px;
    object-fit: cover;
    width: 590px;
    padding: 0;
}
.clima {
    margin:0px;
    padding-right: 10px;
    padding-top: 0;

}


header {
    background-color: var(--blanco);
    flex-flow: row wrap;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    z-index: 4;
    width: 100%;
}

nav {
    background-color: rgb(39, 37, 37);
    height: 40px ;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    transition: 0.8s;
}


/*MENU DEPLEGABLE */

#icon-menu img{
    width: 30px;
    align-content: center;
    padding-top: 30px;
}

#nav ul li{
    padding: 0px;
    align-self: center;
    margin-top: 30px;
    margin-left: 15px;
}

#nav > ul > li > ul > li{
    height: 60px;
    padding: 5px;
    margin: 0;
    display: flex;
}

#nav #inicio2{
    margin-top: 70px;
}

#nav > ul > li > ul > li > a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-left: 10px;
    /*margin: 50px 0px; */
}
#nav > ul > li > ul > li > img{
    width: 200px;
    height: 100px;
}
#nav > ul > li > ul{
    display: none;
    position: absolute;
}
#nav > ul > li:hover > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: auto;
    background-color: #3A2F2F;
    list-style: none;
    top:5px;
    left:40px;
}

#nav ul li ul li a:hover{
    font-weight: bold;
}

/* FIN MENU DESPLEGABLE */










/* Body */
body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0;
}

body li {
    list-style: none;
}
#todo {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-top: 8rem;
}

#main {
    width: 80%;
    display: flex;
    flex-flow: column;
} 


#nomaud {
    display: flex;
    align-items: center;
    padding-top: 3%;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    text-align: center;
}
    #titaud {
        font-size: 2em;
        margin-left: 3%;
    }

        #audios {
            display: flex;
            align-items: center;
            padding-top: 1em;
            justify-content: space-around;
            margin: 0;
            text-align: center;
            flex-flow: row;
            padding-bottom: 7%;
        }


#nomvid {
    display: flex;
    align-items: center;
    padding-top: 5%;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    text-align: center;
}
    #tit {
        margin-top:0;
        font-size: 2em;
        margin-bottom: 2%;
    }

        #vids {
            display: flex;
            padding-top: 0;
            justify-content: space-around;
            width: 100%;
            margin-bottom: 5%;
        }
            #vid {
                margin: 1%;
            }


#container-gif-inicio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}
    #gif {
        margin: 5px;
        width: 280px;
    }


    #contenido {
        object-fit: cover;
        justify-content: center;
        align-items: center;
        background-color: var(--gris);
        height: 100% ;
        margin-top: 55px;
        width: 205px;
    }
    
        #dolar {
            padding: 10px;
        }
    
        .form {
            text-align: center;
            background-color: var(--blanco);
            border-radius: 10px;
            height: 180px;
            width: 180px;
            margin: 30px 10px;
            display: flex;
            flex-flow: column wrap;
            align-content: center;
            justify-content: space-evenly;
        }
            .form input {
                margin: 7px 10px;
                width: 150px;
                height: 20px;
            }
                .boton-rojo .boton {
                    background-color: red;
                    border-radius: 7px;
                    width: 70px;
                    border: none;
                    height: 25px;
                    color: white;
                }
    .form h4{
        text-transform: uppercase;
        color: #FB0000;
        color: var(--rojo);
        text-align: center;
        padding: 0;
        margin: 0;
    }
    
        #p39a {
            display: flex;
            flex-flow: column wrap;
            width: 200px;
            align-items: center;
        }
                #gifcohet {
                    object-fit: cover;
                    width: 150px;
                    height: 350px;
                    margin: 10px;
                }
        #contenido #instagram img{
            align-self: center;
            width: 200px;
            height: 350px;
            object-fit: cover;
        }
























/*footer*/
#footer{
    display: flex;
    flex-flow: row wrap;
    background-color: #1b1919;
    justify-content: space-between;
    align-content:center;
    height: 280px;
    margin-top: 10px;
}

#footer img{
    margin-left: 50px;
    width: 250px;
    height: 120px;
    margin-top: 70px;
}

#footer ul{
    color: white;
    list-style: none;
    display: flex;
}

#footer #secciones{
    /*align-self: flex-start;*/
    margin-left: 50px;
}
#footer #secciones li {
    display: flex;
    flex-flow: row;
    color: #ffffff;
}

#footer #secciones li a{
    padding: 5px;
    color: #ffffff;
}

.circle1{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #FB0000;
    margin-right: 1px;
    margin-top: 6px;
}

#footer #secciones a:link {
    text-decoration: none;
    color: white;
}

#footer #secciones a:hover{
    font-weight: bold;
}

#footer #contfoot h2{
    margin-left: 100px;
}

#footer #contfoot li{
    padding: 5px;
}

#footer #contfoot #contacto3{
    margin-top: 10px;
}


.redes {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-right: 190px;
}
.redes i {
    font-size: 50px;
    padding: 10px;
}

.facebook i {
    color: rgb(58, 58, 196);
}

.facebook i:hover {
    color: rgb(95, 95, 226);
}

.twitter i {
    color: rgb(0, 217, 255);
}

.twitter i:hover {
    color: rgb(54, 183, 206) ;
}

.instagram i {
    color: rgb(214, 52, 174);
}

.instagram i:hover {
    color: rgb(187, 43, 151);
}

#derechos{
    background-color: #1b1919;
}
#derechos p{
    color: red;
    text-align: center;
}

/*FIN*/





