*{
    margin: 0px;
    padding: 0px;
}

body{
   display: flex;    
   flex-flow: column wrap;
   justify-content: space-around; 
   font-family: 'Raleway', sans-serif;
}


/*Menu horizontal fijo*/
/*INICIO*/

#menu nav ul{
    list-style: none;
    display: flex;
    background-color: #3a2f2f;
    flex-direction: row wrap;
    justify-content: space-around;
}

#menu nav ul li{
    padding: 15px;
    list-style: none;
}
#menu nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

/*FIN*/

/*LOGO Y SECCION*/
/*INICIO*/

header{
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
}
#encabezado{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:1;
}
#cabecera{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#cabecera div{
    margin-top: 50px;
    margin: 10px;
    font-size: xx-large;
    line-height: 75px;
}

#cabecera h1{
    display: flex;
    align-self: center;
    color:#fb0000;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    margin-left: 250px;
}

header #logoDiario img{
    margin-left: 40px;
    width: 200px;
}

/*FIN*/

/*NOTICIAS*/

/*INICIO*/

#noticias{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-right: 200px;
}

#noticias ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
}

#noticias ul li{
    list-style: none;
    width: 500px;
    border: 1px;
    margin-top: 200px;
    border:1px solid rgb(187, 186, 186);
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
}

#noticias2{
    margin-top: 20px;
    margin-right: 200px;
}

#noticias2 ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#noticias2 ul li{
    padding: 15px;
    list-style: none;
    width: 300px;
    padding: 20px;
    border:1px solid rgb(187, 186, 186);
    margin-left: 1px;
    margin-right: 1px;

}

#noticias2 ul li img{
    height: 169px;
    width: 298px;
}

#noticias3{
    margin-top: 20px;
}

#noticias3 ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    list-style: none;
}

#noticias3 ul li{
    padding: 15px;
    list-style: none;
    width: 900px;
    padding: 20px;
    border:1px solid rgb(187, 186, 186);
    margin-left: 1px;
    margin-right: 1px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#noticias3 ul li img{
    height: 169px;
    width: 298px;
}
#noticias3 ul li h2{
    align-self: center;
}

/*FIN*/

/* MENU DEPLeGABLE */
#icon-menu img{
    width: 30px;
}

#nav > ul > li > ul > li > a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    /* margin: 50px 0px; */
}
#nav > ul > li > ul > li > img{
    width: 200px;
    padding: 15px 0px;
}
#nav > ul > li > ul{
    display: none;
    position: absolute;
}
#nav > ul > li:hover > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: auto;
    background-color: #0D0C0C;
    list-style: none;
    position:fixed;
    top:0px;
    left:40px;
}

/* FIN MENU DESPLEGABLE */


/**/
/*INICIO*/
#aside aside figure img{
    width: 200px;
    height: 480px;
    position: fixed;
    right: 0px;
    top: 150px;
}
/*FIN*/

/*footer*/
/*INICIO*/

footer{
    text-align: center;
    color: #3a2f2f;
    background-color: black;
    padding: 20px;
    margin-top: 20px;
}

/*FIN*/