

*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;    
}

#navegacion ul{ 
        display: none;
        position: absolute;
    }
}


header{
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 50px;
   
    
}


 #CD h1{
    text-align:center;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    margin: 0px 0px 0px 250px;
    color: #FB0000;
}

/* MENU ICONO */

.icon-menu{

font-size: 2em;

}

/* logo */

#cabeza img{
    margin-left: 1em;
}


/* menu horizontal */

.munu{

}

.menu ul{

}


.menu ul li{

}

.menu li a{
    
} 