:root {
    --gris: #3A2F2F;
    --negro: #0D0C0C;
    --rojo: #FB0000;
    --blanco:#FFFFFF;
}

a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 18px;
}


a.palabra:hover {
    font-weight: bold;

}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

footer {
    text-align: center;
    color: var(--gris);
}

header {
    background-color: var(--blanco);
    flex-flow: row wrap;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    z-index: 4;
    width: 100%;
}

nav {
    background-color: var(--gris);
    height: 40px ;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    transition: 0.8s;
}

section .container {
    flex-flow: row wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

section .container .slider{
    flex-flow: row wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px;

}

.publicidad {
    width: 200px;
    height: 480px;
    position: fixed;
    right: 0px;
    top: 150px;
}

.container-slider {
    flex-flow: row wrap;
    display: flex;
    justify-content: start;
}

.container .publidad {
    position: fixed;
    object-fit: cover;
}

.logo-negro {
    margin-left: 0px;
    width: 250px;
    margin-top: 0;
}

.menu {
    text-align: center;
    margin: 0;
    justify-content: center;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: var(--negro);
    text-decoration: none;
    padding: 0;
    font-size: 50px;
    height: 20px;
    width: 20px;
    
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 800px;
    height: 400px;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity .5s;
}

ul.slider li img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    z-index: 1;
}

ul.slider li p {
    color: var(--gris);
    position: absolute;
    z-index: 2;
    align-content: center;


}

ul.slider li:first-child {
    opacity: 1;

}

ul.slider li:target {
    opacity: 1;
}

#inicio {
    padding-top: 8rem;
}

#inicio .container {
    
    background-color: var(--blanco);
    width: 800px;
    padding: 30px;
}

.slide1 {
    z-index: 1;
}

#menudes > ul > li > ul > li > a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 15px 0px;
    margin: 50px 0;
}
#menudes > ul > li > ul > li > img {
    width: 200px;
    padding: 15px 0px;
}
#menudes > ul > li > ul {
    display: none;
    position: absolute;
}
#menudes > ul > li:hover > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 100%;
    background-color: var(--negro);
    list-style: none;
    position:fixed;
    left: 50px;
    justify-content: space-evenly;
    top: 0;
}

#icon-menu img{
    width: 30px;
    align-content: center;
    padding-left: 5px;
    padding-top: 30px;
}
