:root {
    --gris: #3A2F2F;
    --negro: #0D0C0C;
    --rojo: #FB0000;
    --blanco:#FFFFFF;
}


/* Menú desplegable */

#menudes {
   display: flex;
   justify-content: start;
   align-content: flex-start;

}

#menudes ul {
    padding-left: 10px;
}

#icon-menu img{
    width: 30px;
    align-content: center;
    padding-top: 30px;
}

#menudes > ul > li > ul > li > a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

#menudes > ul > li > ul > li > a:hover {
    font-weight: bold;
}

#menudes > ul > li > ul > li > img {
    width: 200px;
    padding-left: 10px;
    margin: 0;
    

}
#menudes > ul > li > ul {
    display: none;
    position: absolute;
    list-style: none;
    justify-content: center;
    align-content: center;

}
#menudes > ul > li:hover > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 100%;
    background-color: var(--negro);
    list-style: none;
    position:fixed;
    left: 40px;
    justify-content: space-evenly;
    align-content: flex-start;
    top: 0;
    padding-right: 24px;
    border:none;
}

/* Noticia completa */

h1 {
    font-size: 30px;
}

.img-noticia {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 40px 50px 50px;
    width: 900px;
}

.img-noticia img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
    height: 500px;
    object-fit: cover;
}

.img-noticia img.gif-noticia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    height: 400px;
    object-fit: cover;
}

#publicidadgif {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 1200px;
    margin: 0;
    padding-left: 15px;
    
}

.container-gif {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: inherit;
}


.minigif {
    width: 200px;
    object-fit: cover;
    height: auto;
    margin: 0;
    padding: 0;
}

.minigif img {
    height: 250px;
    width: 320px;
    object-fit:cover;
    
}

/* Header */

header a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 18px;
}

header a.palabra:hover {
    font-weight: bold;
}

i {
    color: red;
    font-size: 15px;
}

.logoymenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.logo-negro {
    width: 200px;
    margin: 0;
    height: 100px;
    padding-top: 15px;
}

.container-slider {
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-slider img {
    margin-left: 0;
}

.widgets {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.gifp39 {
   margin-top: 5px;
   margin-bottom: 0;
   height: 111px;
}
.gifp39 img {
    height: 110px;
    object-fit: cover;
    width: 670px;
    padding: 0;
}
.clima {
   margin:0x;
   padding-right: 10px;
   padding-top: 15px;

}


header {
    background-color: var(--blanco);
    flex-flow: row wrap;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    z-index: 4;
    width: 100%;
}

nav {
    background-color: var(--gris);
    height: 40px ;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    transition: 0.8s;
}


/* Body */

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blanco);
}

body li {
    list-style: none;
}

.caminito {
    color: var(--negro);
    font-size: 18px;
    display: flex;
    text-align: justify;
    padding-top: 35px;
    padding-left: 20px;
}

.gif {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 40px 50px 50px;
    width: 900px;

}

.gif img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1700px;
    height: 500px;
    object-fit: cover;
}

.gif h2 , p {
    text-align: left;
    width: 100%;
}

section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


#inicio {
    padding-top: 8rem;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
}

#inicio .container {
    
    background-color: var(--blanco);
    width: 800px;
    padding: 30px;
}

.menu {
    text-align: center;
    margin: 0;
    justify-content: center;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
   
    display: inline-block;
    color: var(--negro);
    text-decoration: none;
    padding: 0;
    font-size: 50px;
    height: 20px;
    width: 20px;
    
}


b {
    color: red;
}

#mininoticias {
    margin-top: 60px;
}

.mininoticia {
    text-decoration: none;
    color: var(--gris);
}

.container-mini {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-left: 15px;
}

.container-gif-inicio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 950px;
    margin:0 10px;
    padding-right: 10px;
    padding-top: 0px;
    object-fit: cover;    
}

.container-gif-inicio img {
    width: 380px;
    padding-top: 60px;
    margin: 0;
    padding-left: 0;
    padding-right: 5px;
}

.noticia {
   width: 220px;
   padding: 30px;
   border: 1px solid rgb(187, 186, 186);
   height: 350px;
}

.noticia img {
    width: 220px;
}



/* Publicidad  */

.container-publicidad {
    object-fit: cover;
    justify-content: flex-end;
    background-color: var(--gris);
    height: 100% ;
}

.dolar {
    padding-top: 40px;
}

.form {
    background-color: var(--blanco);
    border-radius: 10px;
    height: 180px;
    width: 180px;
    margin: 50px 10px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: space-evenly;
}

.form form h4 {
    color: var(--rojo);
    text-align: center;
    padding: 0;
    margin: 0;
}

input {
    margin: 7px 10px;
    width: 150px;
    height: 20px;
}

.boton-rojo {
    justify-content: center;
    display: flex;
}
.boton {
    background-color: var(--rojo);
    color: var(--blanco);
    border-radius: 7px;
    width: 70px;
    border: none;
    height: 25px;
}

.publicidad {
    width: 200px;
    height: 780px;
    right: 0px;
    object-fit: cover;
}


.p39a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-top: 0;
}


/* Footer */

footer {
    color: var(--blanco);
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-end;
    background-color: var(--negro);
}


footer p {
    text-align: center;
    color: var(--rojo);
    padding-bottom: 10px;
    margin-bottom: 0;
    padding-top: 0;
}

footer ul li{
    display: flex;
    flex-flow: column wrap;
    align-content: left;
    margin-bottom: 10px;
}


footer a {
    color: var(--blanco);
    font-size: 15px;
    text-decoration: none;
    list-style: square;
}

footer a:hover {
    font-weight: bold
}

footer h2 {
    font-size: 18px ;
}

footer img {
    width: 220px;
    height: 130px;
    margin-left: 50px;
    padding-top: 60px;
}

.container-footer {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.contacto {
    padding-right: 0px;
}

.social {
    width: 100%;
    margin: 0;
    padding: 0;
}
.redes {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-right: 190px;
}
.redes i {
    font-size: 50px;
    padding: 10px;
}

.facebook i {
    color: rgb(58, 58, 196);
}

.facebook i:hover {
    color: rgb(95, 95, 226);
}

.twitter i {
    color: rgb(0, 217, 255);
}

.twitter i:hover {
    color: rgb(54, 183, 206) ;
}

.instagram i {
    color: rgb(214, 52, 174);
}

.instagram i:hover {
    color: rgb(187, 43, 151);
}
