*

body {
	background: white;
	}

header .logo {
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

header div .container .hamb
{
	display: none;
	position: relative;
	border-right-color: red;
}


header nav {
	float: none;
	line-height: 50px;
	background-color: black;
}

header nav a {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 10px 85px;
	line-height: normal;
	font-size: 20px;
	font-weight: bold;
	text-align: justify;
}

H1 {
	text-align: center;
	margin-top: 0mm;
	margin-bottom: 0mm;
}
section .articulo {
	text-align: justify;
	font-size: 18px;
	margin: 50px;
	display: block;
}

#espectaculo .bloque-espectaculo 
{
	color: white;
	font-size: 35px;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 400px;
	text-align: center;
	margin-left: -200px;
}

S









